/* :root {
  --primery-text-color: #757575;
  --primery-white-color: #ffffff;
  --titul-text-color: #212121;
  --accent-color: #2196f3;
  --light-grey: #ececec;
  --btn-hover-color: #188ce8;
  --secondary-background-color: #f5f4fa;
  --dark-background-color: #2f303a;
  --icon: #afb1b8;
  --footer-background-icon-color: rgba(255, 255, 255, 0.1);
  --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
} */

/* ----------Header---------- */

/* ---------------main---------- */
/* ------------hero----------- */

/* ---------feature---------- */

/* ------------clients-------------- */

/* ------------------footer---------------- */

/* -----Portfolio---------- */
