.clients__item {
  flex-basis: calc(100% / 6 - 30px);
  height: 92px;
  color: var(--icon);
}

.clients__link {
  display: flex;
  padding: 16px 0;
  fill: var(--icon);
  justify-content: center;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: fill var(--transition), border-color var(--transition);
  &:focus,
  &:hover {
    fill: var(--accent-color);
    border-color: var(--accent-color);
  }
}
