.card-set__group {
  padding: 25px 100px;
  border-radius: 4px;
  background-color: var(--secondary-background-color);
  margin-bottom: 30px;
  border-color: var(--primery-white-color);
  transition: fill var(--transition);
  &:hover,
  &:focus {
    fill: var(--accent-color);
  }
}

.card-set__title {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--titul-text-color);
  margin-bottom: 10px;
}

.card-set__item {
  flex-basis: calc(100% / 4 - 30px);
}
