.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent-color);
  display: block;
}
.header .logo {
  margin-right: 93px;
}

.logo__header {
  color: var(--titul-text-color);
}

.footer .logo {
  margin-bottom: 20px;
}
.logo__footer {
  color: var(--primery-white-color);
}
